@import url('http://fonts.cdnfonts.com/css/gotham');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham', sans-serif;
}

body {
    background-color: #141414;
    height: 100%;
}

.container {
    width: 1320px;
    margin: 0 auto;
    padding: 0 3%;
}

.container-2 {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

header {
    width: 100%;
    padding: 15px 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0.4) 10%, rgba(20,20,20,0.1) 100%);
}

.background-show {
    background: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(20,20,20,1) 65%);
    transition: 2s;
}

.container-navigation {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.logo {
    width: 100%;
    max-width: 6em;
    display: inline-block;
}

.logo div {
    padding-top: 35%;
    background-image: url('../img/logo.png');
    background-position: center;
    background-size: 170px;
}

nav {
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    font-size: 13px;
    color: white;
    margin-left: 15px;
    font-weight: 500;
    transition-duration: .4s;
}

nav a:hover {
    color: rgb(196, 196, 196);
}

.secondary-navigation {
    position: absolute;
    right: 0;
    width: 100%;
    max-width: 390px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.secondary-navigation > div {
    margin-left: 25px;
    font-size: 21px;
}

.box-search {
    position: relative;
    display: flex;
    align-items: center;
}

.box-search input[type=text] {
    display: none;
    width: 260px;
    height: 35px;
    background-color: black;
    outline: none;
    border: 1px solid white;
    color: white;
    padding-left: 35px;
    font-size: 14px;
    color: white;
    line-height: 35px;
    transition: 1s;
}

.box-search input[type=text].active {
    display: inline-block;
}

.search {
    cursor: pointer;
    color: white;
}

.search.active {
    left: 7px;
    position: absolute;
}

.profile-kid a{
    line-height: 25px;
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.notification {
    color: white;
    font-size: 20px;
}

.profile-main {
    display: flex;
    align-items: center;
}

.profile-main span {
    font-size: 15px;
    color: white;
    margin-left: 10px;
    margin-bottom: 5px;
    line-height: 8px;
}

section.highlighted {
    width: 100%;
    height: calc(100vh + 90px);
    position: relative;
    top: 0;
    left: 0;
    background-image: url('../img/img-filme.webp');
    background-position: center;
    background-size: 100% 100%;
    color: white;
}

.highlighted .container {
    position: relative;
    top: 13%;
}

.movie-info {
    width: 100%;
    max-width: 400px;
}

.movie-info div {
    background-image: url('../img/img-text-filme.webp');
    padding-top: 50%;
    background-size: 500px;
    background-repeat: no-repeat;
}

.classification {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.classification p {
    margin-left: 10px;
    font-size: 22px;
    font-weight: 500;
}

.top10 {
    background-image: url('../img/top10.png');
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.synopsis {
    width: 495px;
    font-size: 18.5px;
    font-weight: 500;
    margin-top: 15px;
    line-height: 24px;
}

.play-info {
    margin-top: 15px;
}

.play-info button {
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border: none;
    padding: 10px 22px;
    cursor: pointer;
}

.play-info button.btn-play {
    background-color: white;
}

.play-info button.btn-info {
    background-color: rgba(207, 207, 207, 0.473);
    color: white;
}

.play-info button.btn-play:hover {
    background: rgb(182, 182, 182);
}

.play-info button.btn-info:hover {
    background: rgba(182, 182, 182, 0.397);
}

section.movies {
    width: 100%;
    position: relative;
    top: -165px;
}

div.movies-box {
    display: inline-block;
    width: 100%;
}

div.movies-box:not(.movies-box:first-child) {
    margin-top: 50px;
}

.movies-box h2 {
    color: white;
    font-size: 18px;
    margin: 0 3%
}

.movies-box .glide {
    width: 100%;
    margin-top: 12px;
    position: relative;
}

.glide img {
    width: 240px;
    height: 135px;
    border-radius: 3px;
}

.animation-target {
    -webkit-animation: animation 1000ms linear both;
    animation: animation 1000ms linear both;
  }
  
  /* Generated with Bounce.js. Edit at http://bouncejs.com#%7Bs%3A%5B%7BT%3A%22t%22%2Ce%3A%22b%22%2Cd%3A1000%2CD%3A0%2Cf%3A%7Bx%3A100%2Cy%3A0%7D%2Ct%3A%7Bx%3A0%2Cy%3A0%7D%2Cs%3A5%2Cb%3A4%7D%5D%7D */
  
  @-webkit-keyframes animation { 
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100, 0, 0, 1); }
    4.1% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 41.971, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 41.971, 0, 0, 1); }
    8.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.549, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.549, 0, 0, 1); }
    12.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.843, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.843, 0, 0, 1); }
    16.12% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -4.336, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -4.336, 0, 0, 1); }
    27.23% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.784, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.784, 0, 0, 1); }
    38.34% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.104, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.104, 0, 0, 1); }
    60.56% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.002, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.002, 0, 0, 1); }
    82.78% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }
  
  @keyframes animation { 
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100, 0, 0, 1); }
    4.1% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 41.971, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 41.971, 0, 0, 1); }
    8.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.549, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.549, 0, 0, 1); }
    12.11% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.843, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.843, 0, 0, 1); }
    16.12% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -4.336, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -4.336, 0, 0, 1); }
    27.23% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.784, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.784, 0, 0, 1); }
    38.34% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.104, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.104, 0, 0, 1); }
    60.56% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.002, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.002, 0, 0, 1); }
    82.78% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }
  
  
  
  